version: '3.9'

x-node:
  &default-node
  build: ./node
  privileged: true
  networks:
    - jepsen
  volumes:
    - ./keys:/keys

services:
  control:
    container_name: jepsen-control
    hostname: control
    build: ./control
    privileged: true
    ports:
      - 8080
    networks:
      - jepsen
    volumes:
      - ./keys:/keys
      - ../:/scalar-jepsen
      - /scalar-jepsen/docker
  n1:
    << : *default-node
    container_name: jepsen-n1
    hostname: n1
  n2:
    << : *default-node
    container_name: jepsen-n2
    hostname: n2
  n3:
    << : *default-node
    container_name: jepsen-n3
    hostname: n3
  # n4:
  #   << : *default-node
  #   container_name: jepsen-n4
  #   hostname: n4
  # n5:
  #   << : *default-node
  #   container_name: jepsen-n5
  #   hostname: n5

networks:
  jepsen:
